@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}
body{
    background-color: #212121;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    
    align-items: center;
    width: 100%;
    height:auto;
    
    
    
}
header img{
    width: 130px;
    margin-left: ;
}
header ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;  
    letter-spacing: 2px;
    transition: all 0.3 ease-in-out;


}
.links{
   width: 500px;
    
}
.headerbtn::after{
    content: ' ';
    position: relative;
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin-top: 2px;
    
}

.headerbtn:hover::after{
    width: 98%;
}
.contactbtn{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: larger;
   
    padding: 5px;
    width: 100px;
}
.contactbtn:hover{
    background-color: transparent;
    color: black;
}
.expandicon{
    display: flex;
    width: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 2rem;
    right: 0.75rem;

    
}
.burger img{
    width: 50px;
}
.burger{
    display: none;position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
    
}
@media(max-width:768px){
    header ul{
        flex-direction: column;
        display: none;
        
        margin-top: 5px;
        margin-bottom: 10px;
    }
    header ul.active{
        display: flex;
    }
    .burger{
        display: block;
    }
    header{
        flex-direction:column;
        text-align: center;
    
    }
    .headerbtn:hover::after{
        width: 0px;
    }
    .heading{
        text-align: center;
    }
    
    .logohead{
        padding:30px;
        text-align: center;
    }
    header img{
        margin-right: auto;
    }
    
}
.heading{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 140px;
    margin-bottom: 40vh;
}
.heading img{
    width:60vmin;
}

.heading h3{
    width: 50rem;
    
    letter-spacing: 2px;
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    text-align: center;
    margin-bottom: 25vh;
    font-family: 'Roboto', sans-serif;
}
.projects img{
    width: 300px;
}
.projects h3{
    font-size: 50px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    width: auto;
    padding:10px;
    cursor: pointer;
}

.projects h3:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    
}
.projectheading{
    text-align: center;
    font-size: 100px;
}
.socials{
    background-color: wheat;
    display: flex;
    padding-top: 45vh;
    padding-bottom: 45vh;
    justify-content: space-evenly;
    text-align: center;
    color: black;
    font-family: 'Roboto',sans-serif;
}
.socials img{
    width: 130px;
    filter: saturate(100%);
}
.socials h5{
    color: black;
    font-size: larger;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}